<%= form_with(model: [round.game, round]) do |form| %>
  <%= form.hidden_field :game_id %>
  <%= form.hidden_field :position %>
    <div class="mb-3 col-10">
      <%= form.label :category, class: "form-label" %>
      <%= form.text_field :category, class: "form-control" %>
    </div>
    <div class="mb-3 col-10">
      <%= form.label :round_type, "Round Type", class: "form-label" %>
      <%= form.select :round_type, [["Question Round", "question"], ["Audio Round", "audio"], ["Picture Round", "image"], ["Final Round", "order"]], class: "form-select" %>
    </div>

  <h3>Questions</h3>

<div class="row">
  <div class="col-10">
    <div class="card">
      <div class="card-body">
        <ul class="list-unstyled sortable">
          <%= form.fields_for :questions, round.questions do |question_form| %>
            <li class="sort">
              <div class="row">
                <div class="col-sm-1">
                 <i class="fas fa-bars handle"></i> 
                </div>
                <div class="col-sm-11">
                  <%= question_form.hidden_field :position %>
                  <%= render "#{round.round_type}_fields", form: question_form %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

  <%= form.submit "Submit", class: "btn btn-primary" %>
<% end %>