<div class="card">
  <%= form_with(model: game, class: "card-body") do |form| %>
    <% if game.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

        <ul>
          <% game.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit "Create", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<% end %>
